/* Add here all your CSS customizations */
.scrollable {
    max-height:40em;
    overflow-y: scroll;
}

.scrollable::-webkit-scrollbar {
    width: 5px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.no-colour {
    color: #fff;
}

.padded-top {
    padding-top: 10px;
}

.padded-left {
    padding-left: 10px;
}

.padded-right {
    padding-right: 10px;
}

.padded-bottom {
    padding-bottom: 10px;
}

.padded {
    padding: 10px;
}

.aligned-right {
    text-align: right !important;
}

.aligned-left {
    text-align: left !important;
}

.aligned-justify {
    text-align: justify !important;
}

.aligned-center {
    text-align: center !important;
}

.full-sized {
    width: 100%;
}

.reduce-sized {
    width: 75%;
}

.half-sized {
    width: 50%;
}

.quarter-sized {
    width: 25%;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.icon-block {
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    width: 30px;
    color: #B3B7BD;
}

.content-display {
    display: contents;
}

.inner-body.mailbox-folder {
    -webkit-transition: .5s;
    transition: .5s;
}

.nano {
    -webkit-transition: .5s;
    transition: .5s;
}

.inner-menu-toggle {
    -webkit-transition: .5s;
    transition: .5s;
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown.open .dropdown-menu {
    max-height: 40em;
    opacity: 1;
}

.whitened {
    color: white !important;
}

.white-background {
    background-color: white !important;
}

.no-margins {
    margin: 0 0 0 0 !important;
}

.update-thumbnail {
    padding-top: 5px;
}

.drop-shadow {
  -moz-box-shadow:    1px 1px 3px 2px #cccccc99;
  -webkit-box-shadow: 1px 1px 3px 2px #cccccc99;
  box-shadow:         1px 1px 3px 2px #cccccc99;
}

.update-thumbnail-button {
    padding-top: 5px;
}

.img-rounded {
    border-radius: 5px;
}

.exclamation {
    color: red;
    padding-right: 15px;
}

.dropdown.open { z-index: inherit !important; }

.no-underline {text-decoration: none !important; }

#breadcrumbs a {text-decoration: none !important; }

#breadcrumbs a:hover { color: white; }

#inherited-configuration-table a {text-decoration: none !important; }

.tm-box a {text-decoration: none !important; }

.blue {
	color: #0088cc;
}