<div id="custom-content" class="modal-block modal-block-md">
	<section class="panel">
		<header class="panel-heading">
			<h2 class="panel-title">Ajax Content</h2>
		</header>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-12">
					<h1>HTML content, loaded via ajax</h1>
					<p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed.  These words are here to provide the reader with a basic impression of how actual text will appear in its final presentation. </p>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-4">
					<img class="img-responsive" src="static/images/projects/project-1.jpg" />
				</div>
				<div class="col-md-8">
					<p>This is dummy copy. It's Greek to you. Unless, of course, you're Greek, in which case, it really makes no sense. Why, you can't even read it!  It is strictly for mock-ups. You may mock it up as strictly as you wish.</p>
					<p>This is dummy copy. It's Greek to you. Unless, of course, you're Greek, in which case, it really makes no sense. Why, you can't even read it!  It is strictly for mock-ups.</p>
				</div>
			</div>
		</div>
		<footer class="panel-footer">
			<div class="row">
				<div class="col-md-12 text-right">
					<button class="btn btn-default modal-dismiss">Close</button>
				</div>
			</div>
		</footer>
	</section>
</div>