                        <div id="dialog-delete" class="modal-block modal-header-color modal-block-danger mfp-hide">
                            <section class="panel">
                                <header class="panel-heading">
                                    <h2 class="panel-title">Are you sure?</h2>
                                </header>
                                <div class="panel-body">
                                    <div class="modal-wrapper">
                                        <div class="modal-icon">
                                                <i class="fa fa-trash-o"></i>
                                            </div>
                                        <div class="modal-text">
                                            <p>Are you sure that you want to delete this?</p>
                                        </div>
                                    </div>
                                </div>
                                <footer class="panel-footer">
                                    <div class="row">
                                        <div class="col-md-12 text-right">
                                            <button id="dialogConfirm" class="btn btn-primary dialog-delete-confirm">Confirm</button>
                                            <button id="dialogCancel" class="btn btn-default dialog-delete-cancel modal-dismiss">Cancel</button>
                                        </div>
                                    </div>
                                </footer>
                            </section>
                        </div>