
                    <div id="update-thumbnail" class="zoom-anim-dialog modal-block modal-block-primary mfp-hide form-bordered">
                        <section class="panel panel-primary">
                            <form class="update-thumbnail-form" method="post" action="/update/thumbnail/{{ entity.type }}/{{ entity.id }}/" enctype="multipart/form-data">
                                {% csrf_token %}
                                <header class="panel-heading">
                                    <h2 class="panel-title">Update Thumbnail</h2>
                                    <div class="panel-actions">
                                        <a href="#" class="fa fa-times-circle-o form-close" data-toggle="tooltip" data-placement="top" data-original-title="Close"></a>
                                    </div>
                                </header>
                                <div class="panel-body">
                                        <div class="modal-wrapper">
                                            <div class="modal-icon">
                                                <i class="fa fa-image"></i>
                                            </div>
                                            <div class="modal-text">
                                                <div class="col-md-12">
                                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                                        <div class="input-append appear-animation fadeInLeft appear-animation-visible">
                                                            Select file:
                                                            <div class="uneditable-input">
                                                                <i class="fa fa-image fileupload-exists"></i>
                                                                <span class="fileupload-preview"></span>
                                                            </div>
                                                            <span class="btn btn-default btn-file">
                                                                <span class="fileupload-exists"><i class="fa fa-search"></i></span>
                                                                <span class="fileupload-new"><i class="fa fa-search"></i></span>
                                                                <input type="file" required name="thumbnail_file" accept=".jpg,.jpeg,.png,.bmp"/>
                                                            </span>
                                                            <a href="#" class="btn btn-default fileupload-exists btn-danger" data-dismiss="fileupload">&#10008;</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <footer class="panel-footer">
                                    <div class="row">
                                        <div class="col-md-12 text-right">
                                            <button type="submit" class="btn btn-primary">Update</button>
                                            <button class="btn btn-default modal-dismiss">Cancel</button>
                                        </div>
                                    </div>
                                </footer>
                            </form>
                        </section>
                    </div>