                        <a id="logWorkTrigger" class="modal-with-zoom-anim" href="#logWorkForm"></a>
                        <div id="logWorkForm" class="zoom-anim-dialog modal-block modal-block-primary mfp-hide form-bordered">
                            <section class="panel panel-primary">
                                <form method="post" id="log-work-form" data-task="{{ task.id }}" class="log-work-form" enctype="multipart/form-data">
                                    <input type='hidden' id="logWorkFormCSRF" name='csrfmiddlewaretoken' value="{{ csrf_token }}" />
                                    <header class="panel-heading">
                                        <h2 id="log-work-title" class="panel-title">Log work for task {{ task.long_name }}</h2>
                                        <div class="panel-actions">
                                            <a href="#" class="fa fa-times-circle-o form-close" data-toggle="tooltip" data-placement="top" data-original-title="Close"></a>
                                        </div>
                                    </header>
                                    <div class="panel-body">
                                        <div class="modal-wrapper">
                                            <div class="form-group">
												<label class="col-md-3 control-label">Duration (in hours):</label>
												<div class="col-md-6">
													<div class="input-group">
														<input type="number" step="0.01" name="duration" value="1" min="0" class="form-control" title="Work duration in hours" required="true" id="id_log_work_duration">
												    </div>
                                                </div>
											</div>
                                            <div class="modal-text">
                                                <div class="form-group">
												<label class="col-md-3 control-label" for="textareaDefault">Description:</label>
												<div class="col-md-6">
													<input type="text" name="description" class="form-control" title="Work description" id="id_log_work_description">
												</div>
											</div>
                                            </div>
                                        </div>
                                    </div>
                                    <footer class="panel-footer">
                                        <div class="row">
                                            <div class="col-md-12 text-right">
                                                <button type="submit" class="btn btn-primary">Log work</button>
                                                <button class="btn btn-default modal-dismiss">Cancel</button>
                                            </div>
                                        </div>
                                    </footer>
                                </form>
                            </section>
                        </div>