                        <div id="createForm{{ entity_model }}" class="zoom-anim-dialog modal-block modal-block-primary mfp-hide form-bordered">
                            <section class="panel panel-featured panel-featured-primary">
                                {% if action %}
                                <form method="post" class="create-form" action="{{ action }}" enctype="multipart/form-data" data-refresh="{{ refresh_div }}" data-callback="{{ callback }}">
                                {% elif parent %}
                                <form method="post" class="create-form" action="/create/{{ parent.type }}/{{ parent.id }}/{{ entity_model }}/" enctype="multipart/form-data" data-refresh="{{ refresh_div }}" data-callback="{{ callback }}">
                                {% else %}
                                <form method="post" class="create-form" action="/create/{{ entity_model }}/" enctype="multipart/form-data" data-refresh="{{ refresh_div }}" data-callback="{{ callback }}">
                                    {% endif %}
                                    {% csrf_token %}
                                    <header class="panel-heading">
                                        <h2 class="panel-title"><i class="fa fa-plus-circle"></i>  Create <b>{{ entity_model }}</b></h2>
                                        <div class="panel-actions">
                                            <a href="#" class="fa fa-times-circle-o form-close" data-toggle="tooltip" data-placement="top" data-original-title="Close"></a>
                                        </div>
                                    </header>
                                    <div class="panel-body">
                                        <div class="modal-wrapper">
                                            <div class="modal-text">
                                                {% for field in create_form.visible_fields %}
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label aligned-right">{{ field.label_tag }}</label>
                                                    <div class="col-sm-9">
                                                        {{ field }}
                                                    </div>
                                                </div>
                                                {% endfor %}
                                                {% for field in create_form.hidden_fields %}
                                                    {{ field }}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <footer class="panel-footer">
                                        <div class="row">
                                            <div class="col-md-12 text-right">
                                                <button type="submit" class="btn btn-primary">Create</button>
                                                <button class="btn btn-default modal-dismiss">Cancel</button>
                                            </div>
                                        </div>
                                    </footer>
                                </form>
                            </section>
                        </div>