							<menu id="content-menu" class="inner-menu appear-animation fadeInLeftBig appear-animation-visible" role="menu">
								<div class="nano">
									<div class="nano-content">

										<div class="inner-menu-toggle-inside">
											<a href="#" class="inner-menu-collapse">
												<i class="fa fa-chevron-up visible-xs-inline"></i><i class="fa fa-chevron-left hidden-xs-inline"></i> Hide menu
											</a>

											<a href="#" class="inner-menu-expand" data-open="inner-menu">
												Show menu <i class="fa fa-chevron-down"></i>
											</a>
										</div>

										<div class="inner-menu-content">
											<h3>Mailboxes</h3>

											<ul class="list-unstyled">
												<li>
													<a href="/notes/" class="menu-item{% if inbox %} active{% endif %}"><i class="fa fa-envelope-o"></i> Inbox <span class="label label-primary text-normal pull-right">{{ user.unseen_notes|length }}</span></a>
												</li>

												<li>
													<a href="/notes/sent/" class="menu-item{% if sent %} active{% endif %}"><i class="fa fa-send-o"></i> Sent</a>
												</li>

												<li>
													<a href="/notes/trash/" class="menu-item{% if trash %} active{% endif %}"><i class="fa fa-trash-o"></i> Trash</a>
												</li>
											</ul>

											<hr class="separator" />

											<div class="sidebar-widget m-none">
												<div class="widget-header">
													<h6 class="title"><i class="fa fa-tags"></i> Tags</h6>
													<span class="widget-toggle">+</span>
												</div>
												<div class="widget-content">
													<ul class="list-unstyled mailbox-bullets">
                                                        {% for tag in tags %}
														<li>
                                                            <p>
                                                            <div class="checkbox-custom checkbox-primary">
																<input class="tag-checkbox" type="checkbox" id="checkbox-{{ tag.name }}">
																<label for="checkbox-{{ tag.name }}"><i class="fa fa-tag"></i> {{ tag.name }}</label>
															</div>
                                                            </p>
														</li>
                                                        {% endfor %}
													</ul>
												</div>
											</div>

											<hr class="separator" />

										</div>
									</div>
								</div>
							</menu>