								<div id="mailbox-email-list" class="mailbox-email-list">
									<div class="nano">
										<div class="nano-content">
											<ul id="notes-list" class="list-unstyled">

							                    {% for note in notes %}
												<li class="{% if note.seen %}read{% else %}unread{% endif %}" id="note-{{ note.id }}" data-tags="{{ note.tags_label }}">
													<div class="col-sender">
														<div class="checkbox-custom checkbox-text-primary ib">
															<input type="checkbox" id="checkbox-{{ note.id }}">
															<label for="checkbox-{{ note.id }}"></label>
														</div>
														<p class="m-none ib"><b>{{ note.author.username }}</b></p>
													</div>
														<div class="col-mail">
															<a href="/correspondence/{{ note.id }}">
																<p class="m-none mail-content">
																	<span class="subject">On <b>{{ note.parent.type.lower }} {{ note.parent.name }}</b>:</span>
																	<span class="mail-partial">{{ note.content }}</span>
																</p>
																{% if note.attachments %}
																<i class="mail-attachment padded-right fa fa-paperclip"></i>
																{% endif %}
																<p class="m-none mail-date">{{ note.created.date }}</p>
															</a>
														</div>
												</li>
                                                {% endfor %}

											</ul>
										</div>
									</div>
								</div>