                                                {% for note in note.thread %}
                                                <li class="activity-note">
                                                    <div class="tm-box">
                                                        <p class="text-muted mb-none">{{ note.time_delta_label }} on <a href="{{ note.parent.full_url }}">{{ note.parent.type.lower }} {{ note.parent.name }}</a>.</p>
                                                        <p>
                                                            <i class="fa fa-quote-left"></i> <h5 class="aligned-justify">{{ note.content }}</h5> <div class="aligned-right"><i class="fa fa-quote-right"></i></div>
                                                        </p>
                                                        {% if note.attachments %}
                                                        <div class="thumbnail-gallery">
                                                            {% for attachment in note.attachments %}
                                                            {% if attachment.is_image %}
                                                            <a class="img-thumbnail" href="{{ attachment.file.url }}">
                                                                <img width="215" src="{{ attachment.file.url }}">
                                                                <span class="zoom">
                                                                    <i class="fa fa-search"></i>
                                                                </span>
                                                            </a>
                                                            {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                        {% for attachment in note.attachments %}
                                                        {% if not attachment.is_image %}
                                                        <p>
                                                            <a href="{{ attachment.file.url }}" download="{{ attachment.file.name }}"><i class="fa fa-download"></i> {{ attachment.file.name }}</a>
                                                        </p>
                                                        {% endif %}
                                                        {% endfor %}
                                                        {% endif %}
                                                        <div class="tm-meta">
                                                            <span>
                                                                <i class="fa fa-user"></i> <a href="{{ note.author.full_url }}">{{ note.author.username }}</a>
                                                            </span>
                                                            {% if note.tags.all %}
                                                            <span>
                                                                <i class="fa fa-tags"></i> {% for tag in note.tags.all %} <a href="{{ tag.url }}">{{ tag.name }}</a> {% endfor %}
                                                            </span>
                                                            {% endif %}
                                                            {% if note.mentioned_users.all %}
                                                            <span>
                                                                <i class="fa fa-users"></i> {% for mentioned_user in note.mentioned_users.all %} <a href="{{ mentioned_user.url }}">{{ mentioned_user.name }}</a> {% endfor %}
                                                            </span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </li>
                                                {% endfor %}
