{% extends "index.html" %}

{% block title %}Piper Notes{% endblock %}
{% block header %}Notes <a href="/docs/#notes" target="_blank"><i class="fa fa-question-circle" aria-hidden="true"></i></a>{% endblock %}

{% block breadcrumbs %}
    <li><span><b>Notes</b></span></li>
{% endblock %}

{% load static %}

{% block page %}
					<section class="content-with-menu mailbox">
						<div class="content-with-menu-container" data-mailbox data-mailbox-view="folder">
							<div class="inner-menu-toggle">
								<a href="#" class="inner-menu-expand" data-open="inner-menu">
									Show menu <i class="fa fa-chevron-right"></i>
								</a>
							</div>

							{% include "mailbox-menu.html" %}

							<div class="inner-body mailbox-folder appear-animation fadeIn appear-animation-visible">
								<!-- START: .mailbox-header -->
								<header class="mailbox-header">
									<div class="row">
										<div class="col-sm-6">
											<h1 class="mailbox-title text-light m-none">
												<a id="mailboxToggleSidebar" class="sidebar-toggle-btn trigger-toggle-sidebar">
													<span class="line"></span>
													<span class="line"></span>
													<span class="line"></span>
													<span class="line line-angle1"></span>
													<span class="line line-angle2"></span>
												</a>
                                                {% if sent %}
                                                <i class="fa fa-send-o"></i> Sent
                                                {% elif trash %}
                                                <i class="fa fa-trash-o"></i> Trash
                                                {% else %}
												<i class="fa fa-envelope-o"></i> Inbox
                                                {% endif %}
											</h1>
										</div>
                                        <form id="search-form" action="#" class="search nav-form search-form">
                                            <div class="input-group input-search">
                                                <div class="search">
                                                    <div class="input-group input-search">
                                                        <input type="text" class="form-control" name="q" id="search-query" placeholder="Search {% if sent %}sent{% elif trash %}trash{% else %}inbox{% endif %}...">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
									</div>
								</header>
								<!-- END: .mailbox-header -->
							
								<!-- START: .mailbox-actions -->
								<div class="mailbox-actions">
									<ul class="list-unstyled m-none pt-lg pb-lg">
										<li class="ib mr-sm">
											<div class="btn-group">
												<a href="#" class="item-action no-underline fa fa-chevron-down dropdown-toggle" data-toggle="dropdown"></a>
												<ul id="notes-filter-dropdown" class="dropdown-menu" role="menu" data-toggle="tooltip" data-placement="top" data-original-title="Filter notes">
													<li class="active"><a href="#" class="notes-filter" data-action="/notes/{% if sent %}sent{% elif trash %}trash{% else %}inbox{% endif %}/all/">All</a></li>
													<li><a href="#" class="notes-filter" data-action="/notes/{% if sent %}sent{% elif trash %}trash{% else %}inbox{% endif %}/read/">Read</a></li>
													<li><a href="#" class="notes-filter" data-action="/notes/{% if sent %}sent{% elif trash %}trash{% else %}inbox{% endif %}/unread/">Unread</a></li>
												</ul>
											</div>
										</li>
										<li class="ib mr-sm">
											<a id="refresh-action" class="item-action no-underline fa fa-refresh" data-toggle="tooltip" data-placement="top" data-original-title="Refresh" href="#"></a>
										</li>
                                        {% if trash %}
                                        <li class="ib">
											<a class="item-action no-underline fa fa-recycle" data-toggle="tooltip" data-placement="top" data-original-title="Restore selected notes" href="#"></a>
										</li>
                                        {% else %}
										<li class="ib">
											<a id="trash-notes" class="item-action no-underline fa fa-times text-danger" data-toggle="tooltip" data-placement="top" data-original-title="Move selected notes to trash" href="#"></a>
										</li>
                                        {% endif %}
									</ul>
								</div>
								<!-- END: .mailbox-actions -->

                                <div id="notes" data-action="refresh/">
								{% include "mailbox-notes.html" %}
                                </div>

							</div>
						</div>
					</section>
{% endblock %}

{% block custom_page_js %}
    <script src="{% static 'javascripts/forms/main.js' %}"></script>
    <script src="{% static 'javascripts/pages/pages.notes.js' %}"></script>
{% endblock %}