{% extends "index.html" %}

{% block title %}Piper Browser{% endblock %}
{% block header %}Browser <a href="/docs/#browser" target="_blank"><i class="fa fa-question-circle" aria-hidden="true"></i></a>{% endblock %}

{% block breadcrumbs %}
    <li><span><i class="fa fa-wrench"></i> Tools</span></li>
    <li><span><b><i class="fa fa-sitemap"></i> Browser</b></span></li>
{% endblock %}

{% load static %}

{% block custom_page_css %}
    <link rel="stylesheet" href="{% static 'vendor/jstree/themes/default/style.min.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-select/bootstrap-select.min.css' %}" />
{% endblock %}

{% block page %}
					<div class="row">
                        <div class="col-md-12 appear-animation pull-left fadeIn appear-animation-visible">
                            <section class="panel">
                                <header class="panel-heading bg-primary">
                                    <div class="panel-heading-icon appear-animation bounceIn appear-animation-visible">
                                        <i class="fa fa-sitemap"></i>
                                    </div>
                                </header>
                                <div class="panel-body">
                                    <div class="col-md-4 pull-left appear-animation bounceIn appear-animation-visible">
                                        <section class="panel panel-featured panel-featured-primary drop-shadow">
                                            <header class="panel-heading">
                                                <div class="panel-actions">
                                                </div>

                                                <h2 class="panel-title">Filters</h2>
                                                <p class="panel-subtitle">(Toggle data display)</p>
                                            </header>
                                            <div class="panel-body">
                                                <div id="filters-accordion" class="panel-group" id="accordion">

                                                    <div class="panel panel-accordion">
                                                        <div class="panel-heading">
                                                            <h4 class="panel-title">
                                                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#assetTypeCollapse">
                                                                    Asset type
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <div id="assetTypeCollapse" class="accordion-body collapse in">
                                                            <div class="panel-body">
                                                                {% for asset_type in asset_types %}
                                                                <div class="checkbox-custom checkbox-primary">
                                                                    <input class="asset-type-checkbox" type="checkbox" checked="" id="asset-type-{{ asset_type.long_name }}">
                                                                    <label for="asset-type-{{ asset_type.long_name }}">{{ asset_type.long_name }}</label>
                                                                </div>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="panel panel-accordion">
                                                        <div class="panel-heading">
                                                            <h4 class="panel-title">
                                                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#categoryCollapse">
                                                                     Category
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <div id="categoryCollapse" class="accordion-body collapse">
                                                            <div class="panel-body">
                                                                <div class="checkbox-custom checkbox-primary">
                                                                    <input class="category-checkbox" type="checkbox" checked="" id="category-2d">
                                                                    <label for="category-2d">2D</label>
                                                                </div>
                                                                <div class="checkbox-custom checkbox-primary">
                                                                    <input class="category-checkbox" type="checkbox" checked="" id="category-3d">
                                                                    <label for="category-3d">3D</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="panel panel-accordion">
                                                        <div class="panel-heading">
                                                            <h4 class="panel-title">
                                                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#statusCollapse">
                                                                    Status
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <div id="statusCollapse" class="accordion-body collapse">
                                                            <div class="panel-body">
                                                                {% for status in statuses %}
                                                                <div class="checkbox-custom checkbox-primary">
                                                                    <input class="status-checkbox" type="checkbox" checked="" id="status-{{ status.long_name }}">
                                                                    <label for="status-{{ status.long_name }}">{{ status.long_name }}</label>
                                                                </div>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="panel panel-accordion">
                                                        <div class="panel-heading">
                                                            <h4 class="panel-title">
                                                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#userCollapse">
                                                                    User
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <div id="userCollapse" class="accordion-body collapse">
                                                            <div class="panel-body">
                                                                <div class="input-group mb-md reduce-sized float-left">
                                                                    <span class="input-group-addon">
                                                                        <input id="user-filter-checkbox" type="checkbox">
                                                                    </span>
                                                                    <input id="user-filter-input" type="text" class="form-control">
                                                                </div>
                                                                <a href="#"><i id="user-filter-refresh" class="fa fa-refresh padded-top padded-left float-left"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </section>
                                    </div>

                                    <div class="col-md-4 pull-left appear-animation bounceIn appear-animation-visible">
                                        <section class="panel panel-featured panel-featured-primary drop-shadow">
                                            <header class="panel-heading">
                                                <div class="panel-actions">
                                                </div>
                                                <h2 class="panel-title">Data</h2>
                                                <p class="panel-subtitle">(Browse project assets)</p>
                                            </header>
                                            <div class="panel-body">
                                            <p>
                                                <select class="form-control selectpicker" data-live-search="true" required id="project-selector">
                                                    <option value="" data-hidden="true"></option>
                                                    {% for project in projects %}
                                                    <option value="{{ project.name }}">{{ project.long_name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </p>
                                                <hr/>
                                            <div id="project-data" class="appear-animation bounceIn appear-animation-visible">
                                                <div id="project-tree" class="entity-tree scrollable float-left">
                                                    <ul>
                                                        <li data-jstree='{ "opened" : false }' class="colored"></li>
                                                    </ul>
                                                </div>
                                                <div id="project-load-spinner" class="float-left" style="display:none">
                                                    <i class="fa fa-spinner fa-spin"></i>
                                                </div>
                                            </div>
                                        </div>
                                        </section>
                                    </div>

                                    <div class="col-md-4 pull-left appear-animation bounceIn appear-animation-visible">
                                        <section class="panel panel-featured panel-featured-primary drop-shadow">
                                            <header class="panel-heading">
                                                <div class="panel-actions">
                                                </div>
                                                <h2 class="panel-title">Details</h2>
                                                <p class="panel-subtitle">(Selection information)</p>
                                            </header>
                                            <div class="panel-body">
                                                <div id="entity-details" class="scrollable">
                                                    <p>
                                                        <div class="post-image appear-animation bounceIn appear-animation-visible centered">
                                                            <div class="img-thumbnail">
                                                                <img src="/media/thumbnails/default_thumbnail.png" class="img-responsive">
                                                            </div>
                                                        </div>
                                                    </p>
                                                </div>
                                            </div>
                                        </section>
                                    </div>

                                </div>
                            </section>
                        </div>
                    </div>
{% endblock %}

{% block custom_page_vendor %}
    <script src="{% static 'vendor/jstree/jstree.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-select/bootstrap-select.min.js' %}"></script>
{% endblock %}

{% block custom_page_js %}
    <script src="{% static 'javascripts/ui-elements/treeview.js' %}"></script>
    <script src="{% static 'javascripts/pages/pages.browser.js' %}"></script>
{% endblock %}
