{% extends "index.html" %}

{% block title %}Piper History{% endblock %}
{% block header %}History for {{ changes.first.parent.type }} <b>{{ changes.first.parent.name }}</b> <a href="/docs/#history" target="_blank"><i class="fa fa-question-circle" aria-hidden="true"></i></a>{% endblock %}

{% block breadcrumbs %}
    <li><span>History</span></li>
    <li><span><a class="breadcrumb-link" href="{{ changes.first.parent.full_url_dirname }}">{{ changes.first.parent.type }}</a></span></li>
    <li><span><a class="breadcrumb-link" href="{{ changes.first.parent.full_url }}">{{ changes.first.parent.name }}</a></span></li>
{% endblock %}

{% load static %}

{% block custom_page_css %}
    <link rel="stylesheet" href="{% static 'vendor/select2/select2.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/jquery-datatables-bs3/assets/css/datatables.css' %}" />
{% endblock %}

{% block page %}
						<section class="panel">
							<header class="panel-heading">
								<div class="panel-actions">
									<a href="#" class="fa fa-caret-down"></a>
									<a href="#" class="fa fa-times"></a>
								</div>
								<h2 class="panel-title">History</h2>
							</header>
							<div class="panel-body">
								<table class="table table-bordered table-striped mb-none" id="datatable-default">
									<thead>
										<tr>
											<th>Time</th>
											<th>Author</th>
											<th>Before</th>
											<th>After</th>
										</tr>
									</thead>
									<tbody>
										{% for history in changes %}
										<tr class="gradeX">
											<td>{{ history.created }}</td>
											<td>{{ history.created_by }}</td>
											<td>{{ history.change.before }}</td>
											<td>{{ history.change.after }}</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</section>

{% endblock %}

{% block custom_page_vendor %}
    <script src="{% static 'vendor/select2/select2.js' %}"></script>
    <script src="{% static 'vendor/jquery-datatables/media/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'vendor/jquery-datatables-bs3/assets/js/datatables.js' %}"></script>
{% endblock %}

{% block custom_page_js %}
    <script src="{% static 'javascripts/tables/datatables.default.js' %}"></script>
    <script src="{% static 'javascripts/tables/datatables.tabletools.js' %}"></script>
{% endblock %}
