<!doctype html>
<html class="fixed">
	<head>

		<!-- Basic -->
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Piper Server Dashboard" />
		<meta name="description" content="Piper Server is the web application component of the Piper Pipeline Toolkit - an out-of-the-box CGI production tracking and data management software suite.">
		<meta name="author" content="Viktor Petrov">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		{% load static %}

		<title>Piper Server Sign In</title>

		<!-- Favicon -->
		<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}" />

		<!-- Web Fonts  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.css' %}" />
		<link rel="stylesheet" href="{% static 'vendor/magnific-popup/magnific-popup.css' %}" />
		<link rel="stylesheet" href="{% static 'vendor/bootstrap-datepicker/css/datepicker3.css' %}" />

		<!-- Theme CSS -->
		<link rel="stylesheet" href="{% static 'stylesheets/theme.css' %}" />

		<!-- Skin CSS -->
		<link rel="stylesheet" href="{% static 'stylesheets/skins/default.css' %}" />

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="{% static 'stylesheets/theme-custom.css' %}">

		<!-- Head Libs -->
		<script src="{% static 'vendor/modernizr/modernizr.js' %}"></script>

	</head>
	<body>
		<!-- start: page -->
		<section class="body-sign">
			<div class="center-sign">
				<a href="/" class="logo pull-left appear-animation bounceIn appear-animation-visible">
					<img src="{% static 'images/logo.png' %}" height="64" alt="Piper Logo" />
				</a>

				<div class="panel panel-sign appear-animation fadeInUp appear-animation-visible">
					<div class="panel-title-sign mt-xl text-right">
						<h2 class="title text-uppercase text-bold m-none"><i class="fa fa-user mr-xs"></i> Sign In</h2>
					</div>
					<div class="panel-body">
						<form method="post">
							{% csrf_token %}
							<input type="hidden" name="next" value="{{ next }}">
							<div class="form-group mb-lg">
								<label>Username</label>
								<div class="input-group input-group-icon">
                                    <input type="text" name="username" autofocus required id="id_username" class="form-control input-lg">
									<span class="input-group-addon">
										<span class="icon icon-lg">
											<i class="fa fa-user"></i>
										</span>
									</span>
								</div>
							</div>

							<div class="form-group mb-lg">
								<div class="clearfix">
									<label class="pull-left">Password</label>
									<a href="/accounts/recover/" class="pull-right no-underline">Lost password?</a>
								</div>
								<div class="input-group input-group-icon">
                                    <input type="password" name="password" required id="id_password" class="form-control input-lg" >
									<span class="input-group-addon">
										<span class="icon icon-lg">
											<i class="fa fa-lock"></i>
										</span>
									</span>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-4 text-right">
									<button type="submit" class="mb-xs mt-xs mr-xs btn btn-primary btn-lg btn-block">Sign in</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<p class="text-center text-muted mt-md mb-md appear-animation fadeIn appear-animation-visible">Piper Server &copy; Piper I/O EOOD. All rights reserved.</p>
				{% for message in messages %}
                    <div class="alert alert-danger appear-animation shake appear-animation-visible">
                        {{ message }}
                    </div>
            	{% endfor %}
			</div>
		</section>
		<!-- end: page -->

		<!-- Vendor -->
		<script src="{% static 'vendor/jquery/jquery.js' %}"></script>
		<script src="{% static 'vendor/jquery-browser-mobile/jquery.browser.mobile.js' %}"></script>
		<script src="{% static 'vendor/bootstrap/js/bootstrap.js' %}"></script>
		<script src="{% static 'vendor/nanoscroller/nanoscroller.js' %}"></script>
		<script src="{% static 'vendor/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
		<script src="{% static 'vendor/magnific-popup/magnific-popup.js' %}"></script>
		<script src="{% static 'vendor/jquery-placeholder/jquery.placeholder.js' %}"></script>

		<!-- Theme Base, Components and Settings -->
		<script src="{% static 'javascripts/theme.js' %}"></script>

		<!-- Theme Custom -->
		<script src="{% static 'javascripts/theme.custom.js' %}"></script>

		<!-- Theme Initialization Files -->
		<script src="{% static 'javascripts/theme.init.js' %}"></script>

	</body>
</html>