					<div id="timeline" class="timeline" data-entity="/{{ entity.type }}/{{ entity.id }}/">
						<div class="tm-body">
							<div class="tm-title">
                                <i class="fa fa-filter padded-right"></i>
                                <input type="checkbox" checked="" class="filter-checkbox" data-activity="edit" id="updatesCheckbox">
                                <label for="updatesCheckbox" class="content-display"><i class="fa fa-pencil"></i> Updates  </label>
                                <input type="checkbox" checked="" class="filter-checkbox" data-activity="note" id="notesCheckbox">
                                <label for="notesCheckbox" class="content-display"><i class="fa fa-comments"></i> Notes  </label>
							</div>
							<ol id="timeline-items" class="tm-items">
                                {% include "timeline-activities.html" %}
							</ol>
                            <div id="loading-spinner" class="col-lg-12 centered aligned-center" style="display: none">
                                <i class="fa fa-spinner fa-spin"></i>
                            </div>
						</div>
					</div>